*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    background-color: #e6f2ef;

}



/* HEADER, NAVIGATION AND TITLE*/
header{

    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #a3d9b1;
    height: 60px;
    z-index: 1000;

}

header .header-title{

    text-decoration: none;
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 24px;
    margin-left: 20%;
    color: #2c4d2f;

}

header nav{

    margin-right: 15%;
    
}

header ul{

    display: flex;
    gap: 30px;

}

header li{

    list-style: none;
    
}

header nav a{

    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #2c4d2f;

}

header nav a:hover{

    text-decoration: underline;

}
/* HEADER AND NAVIGATION */



/* MAIN AND SECTION BANNER */
main .section-banner-slogan{

    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1400&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 430px;

}

main .section-banner-slogan p{

    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-color: rgba(50, 85, 50, 0.5);
    padding: 20px 24px;
    border-radius: 10px;

}
/* MAIN AND SECTION BANNER */



/* SECTION ABOUT */
main .section-about{

    color: #2c4d2f;
    text-align: center;
    width: 58%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 0px;

}

main .about{

    display: flex;
    flex-direction: column;
    align-items: center;

}

main .about h3{

    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Georgia, serif;
    font-size: 25px;

}

main .about p{

    font-family: Georgia, serif;
    font-size: 19px;
    line-height: 28px;
    margin-top: 15px;

}
/* SECTION ABOUT */



















/* SECTION PRODUCTS AND TITLE */
main .section-product{

    width: 58%;
    margin-top: 20px;
    margin: 0 auto;

}

main .section-product h1{

    font-family: Georgia, serif;
    font-size: 25px;
    text-align: center;
    color: #2c4d2f;
    margin-top: 90px;

}

main .product{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 25px;
    box-shadow: 2px solid black;

}

main .product li{

    list-style: none;

}

main .product-card{

    width: 230px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 12px #2c4d2f4d;

}

main .product-card img{

    width: 100%;
    height: 180px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    object-fit: contain;

}

main .product-card h2{

    font-family: Georgia, serif;
    font-size: 18px;
    color: #2c4d2f;

}

main .product-card button{

    border: none;
    width: 90px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    background-color: #a3d9b1;
    margin-top: 20px;

}

main .product-card a{

    text-decoration: none;
    color: black;

}





/* SECTION DEPOIMENT */
main .section-depoiment{

    width: 56%;
    margin: 0 auto;

}

main .section-depoiment h1{

    font-family: Georgia, serif;
    color: #2c4d2f;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;

}

main .article-depoiment {

    padding: 5px;

}

main .article-depoiment i{

    display: block;
    margin: 0 auto;
    width: 80%;
    background-color: #c8e6c9;
    border-left: 4px solid #54965a;
    border-radius: 15px;
    padding: 13px 0;
    font-size: 17px;
    text-align: center;

}





/*SECTION NEWS AND FORM*/
main .news form{

    display: flex;
    flex-direction: column;
    background-color: #c8e6c9;
    padding: 40px;
    width: 30%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 12px #2c4d2f4d;
    margin-bottom: 44px;

}

main .news input{

    padding: 10px;
    border: none;
    border-radius: 10px;

}

main .news input[type="text"]{

    margin-bottom: 15px;

}

main .news input[type="email"]{

    margin-bottom: 15px;

}

main .news input:focus{
    outline: none;
}

main .news button{

    border: none;
    padding: 8px;
    background-color: #81c784;
    color: white;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;

}

main .news label{

    font-family: Georgia, serif;
    margin-bottom: 8px;

}



main .news h2{

    font-family: Georgia, serif;
    text-align: center;
    color: #2c4d2f;
    margin-bottom: 24px;

}





/*FOOTER*/
footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    background-color: #a3d9b1;

}



footer nav li, p{

    margin-top: 18px;
    text-align: center;
    font-family: Georgia, serif;
    color: #2c4d2f;

}

footer ul{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.facebook-img, .instagram-img, .twitter-img{

    width: 18px;
    margin-right: 10px;
    
}

footer li{

    list-style: none;
    display: flex;
    align-items: center;

}

footer a{

    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #2c4d2f;

}

footer .address {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

}



















@media (max-width: 1024px){ /* PAREI AQUI */
    main .section-banner-slogan{

        background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1400&q=80");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 430px;

    }

    main .section-banner-slogan p{

        font-family: Georgia, serif;
        font-size: 35px;
        color: white;
        background-color: rgba(50, 85, 50, 0.5);
        padding: 20px 24px;
        border-radius: 10px;

    }

}

@media (max-width: 667px){
    
    /*HEADER AND NAVIGATION*/
    header nav{

        display: none;

    }

    /*SECTION BANNER SLOGAN AND PARAGRAPH*/
    main .section-banner-slogan p{

        font-size: 18px;

    }

    main .product li{

        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;

    }

    main .about p{

        width: 142%;

    }

    main .depoiment{

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .section-depoiment{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .section-depoiment blockquote{

        max-width: 375px;
        width: 100%;
        padding-left: -10px;
        padding-right: -40px;
    }   


}